.proj {
        background-color: #282c34;
        color: #61dafb;
        width: 30%;
        height: 40vh;
        margin: 20px 10px;
        border: 1px solid #d4c4fb;
        border-radius: 10px 10px 0px 0px;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        z-index: 2;
}

.proj-browser {
        height: 30px;
        background-color: #a99bcc;
        display: flex;
        align-items: center;
        position: sticky;
        z-index: 2;
}

.proj-circle {
        height: 6px;
        width: 6px;
        background-color: #282c34;
        margin: 3px;
        border-radius: 45px;
}


.proj-image {
        width: 100%;
        transition: all 4s ease;
}

.proj:hover .proj-image{
        transform: translateY(-21%);
}

